.gameArea {
  position: relative;
  width: 100em;
  height: 100em;
  background-color: black;
  overflow: hidden;
}

.ship {
  position: absolute;
  top: 10em;
  left: 10em;
  width: 2em;
  height: 10em;
  background-color: darkblue;
}

.planet {
  width: 1000em;
  height: 1000em;
  background-color: orange;
  border-radius: 500em;
}

.orbit {
  position: absolute;
  top: -100em;
  left: -100em;
  padding: 50em;
  border-radius: 550em;
  border-color: whitesmoke;
  border-width: 1em;
  border-style: dotted;
}